<!-- app/templates/home/edit_ticket.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Edit Ticket{% endblock %}
{% block body %}

<div class="content-section">
  <div class="center">
       <h1>Edit your ticket</h1>
            <form class="form-group signup" role="form" text-align: center;>
                <div class="form-group">
                    {{ wtf.quick_form(form) }}
                </div>
            </form>

  </div>
</div>
{% endblock %}