<!-- app/templates/home/index.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Add Ticket{% endblock %}
{% block body %}

<div class="content-section">
    <div class="center">
        <h2>Add a ticket</h2>
        <br/>
        <form id="CreateTicketForm" class="form-horizontal" method="post" role="form" >
            {{ form.csrf_token }}
            {{ wtf.form_field(form.ticket_name, autofocus=true) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.urgency) }}
            {{ wtf.form_field(form.ticket_type) }}
            {{ wtf.form_field(form.message, rows="4") }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
{{ utils.flashed_messages() }}
</div>

{% endblock %}